body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;

    justify-content: space-between;

}

.half-width {
    width: 47%;
    padding-left: 8%;

}

.half-width img {
    width: 95%;

}

.btn-style {}